.dashboard {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard h1 {
  font-size: 60px;
  margin-bottom: 24px;
  color: rgb(9, 9, 97);
}

.dashboard-text {
  color: #061c47;
  font-size: 24px;
  margin-bottom: 34px;
}

.home-btn {
  padding: 10px 18px;
  font-size: 34px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(9, 9, 97);
  margin-right: 20px;
  border: rgb(9, 9, 97);
}

.home-btn:hover {
  background-color: #4e0101;
  color: rgb(240, 239, 235);
}
