.home {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

.home h1 {
  font-size: 75px;
  font-weight: 900;
  margin-bottom: 47px;
  color: rgb(9, 9, 97);
}

.home p {
  color: #070d15;
  margin-bottom: 75px;
  line-height: 1.6;
  font-size: 30px;
}

.home__actions button {
  padding: 10px 18px;
  font-size: 34px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background-color: rgb(9, 9, 97);
  color: #d1d5db;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 25px;
}

.home__actions button:hover {
  background-color: rgb(197, 10, 10);
  color: bisque;
}
