.navbar {
  width: 100%;
  height: 85px;
  padding: 50px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.navbar__title {
  font-size: 34px;
  font-weight: 800;
  cursor: pointer;
  color: rgb(9, 9, 97);
}
.navbar__google-btn {
  padding: 16px 12px;
  font-size: 18px;
  font-weight: 600;

  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: rgb(29, 14, 145);
  cursor: pointer;
  color: #d1d5db;
  transition: background-color 0.2s ease;
}

.navbar__google-btn:hover {
  background-color: #ea2a0c;
  color: black;
}
.navbar__logout-btn {
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 12px;
  padding: 16px 12px;
  background: rgb(9, 9, 97);
  border: 2px solid;
  cursor: pointer;
  margin-right: 10px;
}
.navbar__logout-btn:hover {
  background-color: #ea2a0c;
  color: black;
}
